aiocontextvars==0.2.2
aioredis==1.3.1
amqp==2.6.1
apns2==0.7.2
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
billiard==3.6.3.0
boto3==1.16.62
botocore==1.19.63
celery==4.4.7
certifi==2020.12.5
cffi==1.14.5
channels==2.4.0
channels-redis==3.1.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.7
daphne==2.5.0
dj-database-url==0.5.0
Django==2.2.17
django-bootstrap3==14.1.0
django-celery-beat==1.6.0
django-colorfield==0.3.2
django-datatable==0.3.1
django-datatables-view==1.19.1
django-extensions==3.1.0
django-model-utils==4.1.1
django-modeltranslation==0.16.1
django-notifications-hq==1.6.0
django-phonenumber-field==5.0.0
django-push-notifications==2.0.0
django-redis==4.12.1
django-smart-selects==1.5.9
django-sslserver==0.22
django-timezone-field==3.1
djangorestframework==3.12.1
Faker==8.1.1
fbprophet==0.7.1
flake8==3.8.4
gunicorn==20.0.4
h2==2.6.2
hiredis==2.0.0
hpack==3.0.0
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
jmespath==0.10.0
jsonfield==3.1.0
kombu==4.6.11
mccabe==0.6.1
msgpack==1.0.2
paho-mqtt==1.5.1
phonenumberslite==8.12.11
psycopg2==2.8.6
py-vapid==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
PyJWT==1.7.1
pyOpenSSL==20.0.1
python-crontab==2.5.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.5
pywebpush==1.13.0
redis==3.5.3
requests==2.25.0
s3transfer==0.3.6
sentry-sdk==0.19.5
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
swapper==1.1.2.post1
text-unidecode==1.3
Twisted==21.2.0
txaio==21.2.1
ujson==4.0.1
urllib3==1.26.4
vine==1.3.0
whitenoise==5.2.0
zope.interface==5.3.0
